/**
 * Standard Panel Layout
 */
.editor {
    display: flex;
    flex-direction: row-reverse;

    .panel {
        width: 50%;
        padding: 1em;
    }
}

/**
 * Layout on small screens
 */
@media (max-width: 1024px) {
    .editor {
        flex-direction: column;

        .panel {
            width: 100%;
        }
    }
}

.panel-editor {
    display: flex;
    flex-direction: column;

    p {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.editor {
    #editor {
        min-height: 50vh;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        border: 1px solid #ccc;
    }

    #output svg {
        width: 100%;
        height: auto;
        max-height: 100vh;
        display: block;
        margin-bottom: 1em;
        padding: 1em;
        border: 1px solid #ccc;
        cursor: pointer;
    }
}
